node-red/flows.json
[{"id":"bf33f6d1.6a6f88","type":"tab","label":"py-ai","disabled":false,"info":""},{"id":"5ec66436.7b42d4","type":"tab","label":"Jujue","disabled":true,"info":""},{"id":"ac5fa6a8.66f098","type":"inject","z":"bf33f6d1.6a6f88","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":40,"wires":[["cdd2e8cd.11b678"]]},{"id":"f5b9a09d.f685a8","type":"debug","z":"bf33f6d1.6a6f88","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":730,"y":60,"wires":[]},{"id":"1a459920.58ada7","type":"inject","z":"bf33f6d1.6a6f88","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":120,"wires":[["d5574e20.c01c18"]]},{"id":"d5574e20.c01c18","type":"exec","z":"bf33f6d1.6a6f88","command":"cd ~/Desktop && python test.py","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"check python version","x":400,"y":120,"wires":[["2ca47365.2f4ab4"],[],[]]},{"id":"2ca47365.2f4ab4","type":"debug","z":"bf33f6d1.6a6f88","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","targetType":"full","x":670,"y":120,"wires":[]},{"id":"28f9b682.308752","type":"debug","z":"bf33f6d1.6a6f88","name":"send msg","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":680,"y":360,"wires":[]},{"id":"4e2bde8.6b4ce2","type":"inject","z":"bf33f6d1.6a6f88","name":"time","topic":"","payload":"now","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":380,"wires":[["a494ec27.d3aab"]]},{"id":"9ba6011f.b5be1","type":"send","z":"bf33f6d1.6a6f88","DDN":">>py-ai","topic":"time://chinese","name":"send","x":390,"y":380,"wires":[["28f9b682.308752"],["28f9b682.308752"]]},{"id":"a82f1f46.128fa","type":"inject","z":"bf33f6d1.6a6f88","name":"test tf","topic":"","payload":"{\"chatid\":\"-347773088\",\"img_url\":\"https://img.huffingtonpost.com/asset/5dcc613f1f00009304dee539.jpeg?cache=QaTFuOj2IM&ops=crop_834_777_4651_2994,scalefit_720_noupscale\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":320,"wires":[["68341bb.317d5e4"]]},{"id":"9c67e233.aebfc","type":"http response","z":"bf33f6d1.6a6f88","name":"","statusCode":"","headers":{},"x":1250,"y":60,"wires":[]},{"id":"38cd572d.118598","type":"debug","z":"bf33f6d1.6a6f88","name":"http msg","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1100,"y":100,"wires":[]},{"id":"ff8e9b19.588058","type":"function","z":"bf33f6d1.6a6f88","name":"","func":"msg.payload = \"JUJUE\"\nreturn msg;","outputs":1,"noerr":0,"x":1100,"y":60,"wires":[["9c67e233.aebfc"]]},{"id":"3148ee3b.b7f43a","type":"http in","z":"bf33f6d1.6a6f88","name":"jujue","url":"/jujue","method":"post","upload":false,"swaggerDoc":"","x":960,"y":60,"wires":[["38cd572d.118598","ff8e9b19.588058"]]},{"id":"a494ec27.d3aab","type":"function","z":"bf33f6d1.6a6f88","name":"","func":"msg.EIName = \"flowbot\";\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":380,"wires":[["9ba6011f.b5be1"]]},{"id":"ee51fe50.9328c","type":"switch","z":"bf33f6d1.6a6f88","name":"topic chk","property":"inctl.To.Topic","propertyType":"msg","rules":[{"t":"eq","v":"myself","vt":"str"},{"t":"jsonata_exp","v":"$substring(msg.inctl.To.Topic, 5, 10)=\"aibot\"","vt":"jsonata"},{"t":"eq","v":"","vt":"str"}],"checkall":"true","repair":true,"outputs":3,"x":280,"y":620,"wires":[["e34629c.f8899d8"],["4fdd3b13.9bd0f4"],["2f56efc2.1477c8"]]},{"id":"e34629c.f8899d8","type":"function","z":"bf33f6d1.6a6f88","name":"get myself info","func":"\nmsg.payload={\n    \"chat_id\":msg.data,\n    \"text\":\"DDN: \"+msg.inctl.From.DDN+\"\\nName: \"+msg.inctl.From.Name+\"\\nType: \"+msg.inctl.From.Type+\"\\nUid: \"+msg.inctl.From.Uid\n}\nmsg.token = \"641293137:AAElcXvCTIPA7vHsTOiiallG9gt7PSfPRSo\";\nmsg.method = \"sendMessage\";\nmsg.url =`https://api.telegram.org/bot${msg.token}/sendMessage`\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":460,"wires":[["18ef055.1920f7b"]]},{"id":"2f56efc2.1477c8","type":"function","z":"bf33f6d1.6a6f88","name":"echo","func":"msg.payload = msg.data;\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":860,"wires":[["730d3525.71da14"]]},{"id":"d2c81213.7f4","type":"inject","z":"bf33f6d1.6a6f88","name":"obj detecting","topic":"","payload":"{\"chatid\":\"-347773088\",\"img_path\":\"\",\"method\":\"url\",\"img_url\":\"https://img.huffingtonpost.com/asset/5dcc613f1f00009304dee539.jpeg?cache=QaTFuOj2IM&ops=crop_834_777_4651_2994,scalefit_720_noupscale\",\"model\":\"yolov3-tiny\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":440,"wires":[["ba73eef8.36f88"]]},{"id":"68341bb.317d5e4","type":"send","z":"bf33f6d1.6a6f88","DDN":">>ml-tf","topic":"ml://tf_url","name":"send","x":370,"y":320,"wires":[["28f9b682.308752"],["28f9b682.308752"]]},{"id":"cdd2e8cd.11b678","type":"exec","z":"bf33f6d1.6a6f88","command":"cd .. && python detect.py --image data/test/dog.jpg","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"YOLOV3-tiny","x":390,"y":40,"wires":[["f5b9a09d.f685a8"],[],[]]},{"id":"b58805cb.ecc94","type":"http in","z":"5ec66436.7b42d4","name":"jujue","url":"/jujue","method":"post","upload":false,"swaggerDoc":"","x":150,"y":1120,"wires":[["b105d36c.8d24f8","f1c2df72.382a7"]]},{"id":"bfc3c219.39d3e8","type":"retEvent","z":"5ec66436.7b42d4","name":"retEvent","errorCode":0,"errorMsg":"OK","x":1200,"y":1480,"wires":[]},{"id":"25b6d636.9decda","type":"function","z":"5ec66436.7b42d4","name":"echo","func":"msg.payload = msg.data;\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":1580,"wires":[["bfc3c219.39d3e8","41540d32.a10b1c"]]},{"id":"6ac2cc27.880d4c","type":"http response","z":"5ec66436.7b42d4","name":"","statusCode":"","x":440,"y":1120,"wires":[]},{"id":"fbd41db.8a021e","type":"debug","z":"5ec66436.7b42d4","name":"send msg","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":920,"y":120,"wires":[]},{"id":"b105d36c.8d24f8","type":"debug","z":"5ec66436.7b42d4","name":"http msg","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":290,"y":1160,"wires":[]},{"id":"9716cc02.bdd49","type":"debug","z":"5ec66436.7b42d4","name":"event msg","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":530,"y":1620,"wires":[]},{"id":"19862391.a71ea4","type":"http request","z":"5ec66436.7b42d4","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":890,"y":1380,"wires":[["3b62beda.5e79e2","bfc3c219.39d3e8"]]},{"id":"824cd469.2ce94","type":"onEvent","z":"5ec66436.7b42d4","event":"message","name":"onEvent","x":160,"y":1480,"wires":[["9716cc02.bdd49","5dd36133.0e5ff8"]]},{"id":"a2119aa8.91447","type":"switch","z":"5ec66436.7b42d4","name":"topic chk","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"time","vt":"str"},{"t":"eq","v":"http","vt":"str"},{"t":"eq","v":"https","vt":"str"},{"t":"eq","v":"add","vt":"str"},{"t":"eq","v":"user","vt":"str"},{"t":"else"}],"checkall":"true","repair":true,"outputs":6,"x":550,"y":1480,"wires":[["3112eaab.d9836e"],["e644f9c6.750d98"],["e644f9c6.750d98"],["8f6ee375.36fc48"],["1436482c.033738"],["25b6d636.9decda"]]},{"id":"35372dbc.c6c402","type":"function","z":"5ec66436.7b42d4","name":"add","func":"if (msg.method ==\"number\")\n    context.global.sum = context.global.sum + parseInt(msg.payload)\nelse\n    context.global.sum = context.global.sum + msg.payload\n\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":1760,"wires":[["f47ad2c2.8802c8"]]},{"id":"e644f9c6.750d98","type":"function","z":"5ec66436.7b42d4","name":"http","func":"\nif (msg.inctl.To.Topic.length <= 5){\n     msg.str = JSON.stringify(msg.data);\n     \n     if(msg.str.substring(1,5) != \"http\")\n        msg.url = \"http://localhost/jujue\"\n    else\n        msg.url = msg.data\n}\nelse\n    msg.url = msg.inctl.To.Topic;\nmsg.payload = msg.data;\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":1380,"wires":[["19862391.a71ea4"]]},{"id":"8f6ee375.36fc48","type":"link out","z":"5ec66436.7b42d4","name":"","links":["c678c729.26d3b"],"x":715,"y":1420,"wires":[]},{"id":"c678c729.26d3b","type":"link in","z":"5ec66436.7b42d4","name":"add","links":["8f6ee375.36fc48"],"x":135,"y":1760,"wires":[["2dec74bd.7a0ce4"]]},{"id":"2dec74bd.7a0ce4","type":"function","z":"5ec66436.7b42d4","name":"init sum","func":"\nmsg.payload = msg.data;\npos = msg.inctl.To.Topic.search(\":\");\nlen = msg.inctl.To.Topic.length;\nmsg.method = msg.inctl.To.Topic.substring(pos+3,len);\nif (msg.method == 'number')\n    context.global.sum = 0\nelse\n    context.global.sum = \"\"\nreturn msg;","outputs":1,"noerr":0,"x":240,"y":1760,"wires":[["324b9819.20f3e"]]},{"id":"f47ad2c2.8802c8","type":"join","z":"5ec66436.7b42d4","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":870,"y":1760,"wires":[["25fcae8f.c710ea"]]},{"id":"25fcae8f.c710ea","type":"function","z":"5ec66436.7b42d4","name":"","func":"msg.payload = context.global.sum;\nreturn msg;","outputs":1,"noerr":0,"x":1010,"y":1760,"wires":[["bfc3c219.39d3e8"]]},{"id":"1436482c.033738","type":"link out","z":"5ec66436.7b42d4","name":"","links":["dc4d438a.189ff8"],"x":695,"y":1520,"wires":[]},{"id":"ba1e45ce.07a05","type":"debug","z":"5ec66436.7b42d4","name":"time msg","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":950,"y":1320,"wires":[]},{"id":"f1c2df72.382a7","type":"function","z":"5ec66436.7b42d4","name":"","func":"msg.payload = \"JUJUE\"\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":1120,"wires":[["6ac2cc27.880d4c"]]},{"id":"3112eaab.d9836e","type":"function","z":"5ec66436.7b42d4","name":"time","func":"\nnow = new Date();\nvar options = { year: 'numeric', month: '2-digit', day: '2-digit',hour:'2-digit',minute:'2-digit',second:'2-digit', hour12: false , timeZone: 'Asia/Taipei' };\nvar str = msg.inctl.To.Topic.split(\"//\");\nmsg.locales = str[1];\n\n\ntry {\n//    dt=now.toLocaleString(msg.locales,{timezone:'Asia/Taipei'});\n   dt=now.toLocaleString(msg.locales,options);\n  }\ncatch (e) {\n    msg.error = \"error\";\n    dt = now;\n//    return dt;\n  }\n//dt =now.toLocaleString(msg.locales,{timezone:'Asia/Taipei'});\nmsg.payload = dt;\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":1300,"wires":[["ba1e45ce.07a05","bfc3c219.39d3e8"]]},{"id":"4c44f4a.296f30c","type":"inject","z":"5ec66436.7b42d4","name":"whois","topic":"","payload":"{\"content\":\"hello\",\"type\":\"message\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":140,"wires":[["7b49b505.b2c494"]]},{"id":"7b49b505.b2c494","type":"send","z":"5ec66436.7b42d4","DDN":">>comm","topic":"tg://-1001400445332","name":"send","x":370,"y":140,"wires":[["c35bd906.e9f2f8"],["fbd41db.8a021e"]]},{"id":"dc4d438a.189ff8","type":"link in","z":"5ec66436.7b42d4","name":"user topic","links":["1436482c.033738"],"x":135,"y":1880,"wires":[["409cbd78.8d1f34"]]},{"id":"e0f9533d.01a2b","type":"comment","z":"5ec66436.7b42d4","name":"user topic","info":"you can define your topic and payload from here, when finish , rember to call retEvent","x":180,"y":1840,"wires":[]},{"id":"409cbd78.8d1f34","type":"function","z":"5ec66436.7b42d4","name":"","func":"msg.topic =msg.inctl.To.Topic.substring(7, msg.inctl.To.Topic.length);\nmsg.payload = msg.data;\n\n// you can definfe your topic process here\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":1880,"wires":[["bfc3c219.39d3e8","becf827e.c6e46"]]},{"id":"becf827e.c6e46","type":"debug","z":"5ec66436.7b42d4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":440,"y":1900,"wires":[]},{"id":"41540d32.a10b1c","type":"debug","z":"5ec66436.7b42d4","name":"echo msg","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":870,"y":1620,"wires":[]},{"id":"c35bd906.e9f2f8","type":"function","z":"5ec66436.7b42d4","name":"get myinfo","func":"p=msg.payload[0];\nmsg.payload = {\n    \"content\":\"DDN:\"+p.IN.From.DDN+\",Name:\"+p.IN.From.Name,\n    \"type\":\"message\",\n    \"from\":\"pinponboybot\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":120,"wires":[["de81df70.5d11f"]]},{"id":"de81df70.5d11f","type":"send","z":"5ec66436.7b42d4","DDN":">>comm","topic":"tg://-1001400445332","name":"send","x":710,"y":120,"wires":[["fbd41db.8a021e"],["fbd41db.8a021e"]]},{"id":"cc3a02d0.a2ccd8","type":"comment","z":"5ec66436.7b42d4","name":"whois : run whois, to get your info, but add ioc://console to your contact first","info":"run whois, to get your info\nit will send your infromation to telegram ioc://console channel, please add ioc://console to your contact first","x":380,"y":80,"wires":[]},{"id":"b6a3dd11.8454a","type":"debug","z":"5ec66436.7b42d4","name":"OK msg","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":720,"y":380,"wires":[]},{"id":"56297be1.1b121c","type":"inject","z":"5ec66436.7b42d4","name":"sticker demo","topic":"","payload":"{\"cmd\":\"drop\",\"type\":\"url\",\"src\":[\"https://smartscreen.tv/img/main.png\"],\"duration\":\"30\",\"frame\":\"t4\",\"animate\":\"fade\",\"aniduration\":\" 2\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":280,"wires":[["96f93e2e.41b298"]]},{"id":"3617aac4.9ef446","type":"inject","z":"5ec66436.7b42d4","name":"sanpshot demo","topic":"","payload":"{\"cmd\":\"drop\",\"type\":\"url\",\"src\":[\"http://your_IPCAM_address/sanp?\"],\"duration\":\"30\",\"frame\":\"main\",\"animate\":\"fade\",\"aniduration\":\" 2\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":220,"y":320,"wires":[["96f93e2e.41b298"]]},{"id":"ce866ddb.36687","type":"inject","z":"5ec66436.7b42d4","name":"notify demo","topic":"","payload":"{\"cmd\":\"notify\",\"msg\":\"now is (%time#yyyy/mm/dd hh:nn:ss)\",\"duration\":30,\"color\":\"blue\",\"size\":3}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":360,"wires":[["96f93e2e.41b298"]]},{"id":"ba770240.46254","type":"inject","z":"5ec66436.7b42d4","name":"app demo","topic":"","payload":"{\"cmd\":\"app\",\"url\":\"http://app.goodnews.org.tw/\",\"frame\":\"main\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":400,"wires":[["96f93e2e.41b298"]]},{"id":"8ea0045.1d1a5f8","type":"inject","z":"5ec66436.7b42d4","name":"toast demo","topic":"","payload":"{\"cmd\":\"toast\",\"msg\":\"YPclouyd\",\"icon\":\"success\",\"transition\":\"plain\",\"duration\":\"30\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":440,"wires":[["96f93e2e.41b298"]]},{"id":"2bff3b44.4715e4","type":"debug","z":"5ec66436.7b42d4","name":"Fail msg","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":720,"y":420,"wires":[]},{"id":"c406dcbb.0a005","type":"inject","z":"5ec66436.7b42d4","name":"youtube demo","topic":"","payload":"{\"cmd\":\"youtube\",\"search\":\"mayday\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":480,"wires":[["96f93e2e.41b298"]]},{"id":"77650773.a647a","type":"inject","z":"5ec66436.7b42d4","name":"marquee demo","topic":"","payload":"{\"cmd\":\"marquee\",\"msg\":\"Welcome to YPCloud !!!\",\"duration\":\"60\",\"color\":\"white\",\" size\":\"3\",\"bgcolor\":\"\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":220,"y":520,"wires":[["96f93e2e.41b298"]]},{"id":"5607674a.3a22a8","type":"inject","z":"5ec66436.7b42d4","name":"drop demo","topic":"","payload":"{\"cmd\":\"drop\",\"type\":\"url\",\"src\":[\"https://youtu.be/VHtkJufbkvQ\"],\"duration\":\"0\",\"frame\":\"main\",\"animate\":\"fade\",\"aniduration\":\" 2\",\"bgcolor\":\"white\",\"pmode\":\"loop\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":560,"wires":[["96f93e2e.41b298"]]},{"id":"96f93e2e.41b298","type":"send","z":"5ec66436.7b42d4","DDN":">>mySmartScreen","topic":"","name":"ss send","x":480,"y":400,"wires":[["b6a3dd11.8454a"],["2bff3b44.4715e4"]]},{"id":"db33dce9.f32eb8","type":"comment","z":"5ec66436.7b42d4","name":"smartscreen topic : open this to show how to get your smratscreen","info":"use browser to open http://smartscreen.tv, it will show your screen name at left-down corner, or you can click the menu bar/setting to get your screen name。\nfrom the DDN in \"ss send\"  node, change \"mySmartScreen\"  to your screen name， and keep '>>' 。","x":340,"y":240,"wires":[]},{"id":"6a8bc05f.a84ba","type":"comment","z":"5ec66436.7b42d4","name":"comm topic","info":"DDN : >>comm\n\nTOPIC : mail://email_address\nPAYLOAD: {\n\t\t\"content\":mail content,\n\t\t\"subject\":mail subject\n\t}\nex: \n  TOPIC : mail://123@ypcloud.com\n  PAYLOAD: {\n\t\t\"content\":\"hello world\",\n\t\t\"subject\":\"only hello\"\n\t}\n\nTOPIC:sms://mobile_number\nPAYLOAD:{\n\t\t\"text\":sms content\n\t}\nex:\n  TOPIC:sms://0912345678\n  PAYLOAD:{\n\t\t\"text\":\"hello world\"\n\t}\n\nTOPIC:tg://chat_id\nPAYLOAD:{\n\t\t\"content\":telegram content,\n\t\t\"type\":send method, available type :['message','photo','audio','document','video','animation','voice','sticker'], default is 'message',\n\t\t\"from\":telegram bot name, available bot:['pinponboybot','jujuebot',\n'lovetubebot',\n'ypcloudbot',\n'ultravisorbot',\n'smartscreenbot','owenbot',\n'stevenhsubot'], default is pinponboy,\n\t\t\"cc\": chat_id of cc,options\n\t}\nex:\n  TOPIC:tg://-1001400445332\n  PAYLOAD:{\n\t\t\"content\":\"hello world\",\n\t\t\"type\": \"message\",\n\t\t\"from\": \"pinponboy\"\n\t}\nex:\n  TOPIC:tg://-1001400445332\n  PAYLOAD:{\n\t\t\"content\":\"https://bnextmedia.s3.hicloud.net.tw/image/album/2019-12/img-1577419333-97920.jpg\",\n\t\t\"type\": \"photo\"\n\t}\n\nTOPIC:ioc://chat_id\nPAYLOAD:{\n\t\t\"content\":telegram content,\n\t\t\"from\":telegram bot name, available bot:['pinponboybot','jujuebot',\n'lovetubebot',\n'ypcloudbot',\n'ultravisorbot',\n'smartscreenbot','owenbot',\n'stevenhsubot'], default is pinponboy,\n\t\t\"cc\": chat_id of cc,options\n\t}\nex:\n  TOPIC:ioc://-1001400445332\n  PAYLOAD:{\n\t\t\"content\":\"hello world\",\n\t\t\"from\": \"pinponboy\"\n\t}\n\nTOPIC:console://chat_id\nPAYLOAD:{\n\t\t\"content\":telegram content\n\t}\nex:\n  TOPIC:console://-1001400445332\n  PAYLOAD:{\n\t\t\"content\":\"hello world\"\n\t}","x":170,"y":640,"wires":[]},{"id":"f6f2c7f2.3bb43","type":"inject","z":"5ec66436.7b42d4","name":"tg(smartscreen):text message","topic":"","payload":"{\"type\":\"message\",\"content\":\"from and cc\",\"from\":\"smartscreenbot\",\"cc\":\"-373226079\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":260,"y":720,"wires":[["5bd80a72.b4cfbc"]]},{"id":"5bd80a72.b4cfbc","type":"send","z":"5ec66436.7b42d4","DDN":">>comm","topic":"tg://-1001400445332","name":"tg comm","x":480,"y":680,"wires":[["5aa6a32d.470cec"],["5aa6a32d.470cec"]]},{"id":"5aa6a32d.470cec","type":"debug","z":"5ec66436.7b42d4","name":"tg msg","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":710,"y":800,"wires":[]},{"id":"b7d277e3.7835a8","type":"inject","z":"5ec66436.7b42d4","name":"mail","topic":"","payload":"{\"subject\":\"test\",\"content\":\"hello from jujue\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":840,"wires":[["b6ed2d70.f1cec8"]]},{"id":"b6ed2d70.f1cec8","type":"send","z":"5ec66436.7b42d4","DDN":">>comm","topic":"mail://123@ypcloud.com","name":"mail comm","x":490,"y":840,"wires":[["8ee61889.0794f"],["8ee61889.0794f"]]},{"id":"8ee61889.0794f","type":"debug","z":"5ec66436.7b42d4","name":"mail msg","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":720,"y":840,"wires":[]},{"id":"7ef3b715.5b8b48","type":"send","z":"5ec66436.7b42d4","DDN":">>comm","topic":"sms://0920050822","name":"sms comm","x":490,"y":880,"wires":[["ab398e76.a962a8"],["ab398e76.a962a8"]]},{"id":"ab398e76.a962a8","type":"debug","z":"5ec66436.7b42d4","name":"sms msg","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":720,"y":880,"wires":[]},{"id":"39b8c21e.b30e9e","type":"inject","z":"5ec66436.7b42d4","name":"sms","topic":"","payload":"{\"text\":\"hello fro jujue\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":880,"wires":[["7ef3b715.5b8b48"]]},{"id":"ceda6af1.c334c","type":"inject","z":"5ec66436.7b42d4","name":"ioc","topic":"","payload":"{\"type\":\"message\",\"content\":\"ioc from gitlab \",\"bot\":\"pinponboy\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":800,"wires":[["a63fc1d7.0ba26"]]},{"id":"a63fc1d7.0ba26","type":"send","z":"5ec66436.7b42d4","DDN":">>comm","topic":"ioc://-1001400445332","name":"ioc comm","x":480,"y":800,"wires":[["5aa6a32d.470cec"],["5aa6a32d.470cec"]]},{"id":"4b370fa1.273ad8","type":"inject","z":"5ec66436.7b42d4","name":"tg(pinponboy):document","topic":"","payload":"{\"type\":\"document\",\"content1\":\"https://gitbook.ypcloud.com/motechat-api-guide/\",\"content\":\"https://bnextmedia.s3.hicloud.net.tw/image/album/2019-12/img-1577419333-97920.jpg\",\"from\":\"pinponboy\",\"cc\":\"262542685\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":250,"y":760,"wires":[["5bd80a72.b4cfbc"]]},{"id":"9fdfd543.0755d","type":"inject","z":"5ec66436.7b42d4","name":"tg(jujue) photo","topic":"","payload":"{\"type\":\"photo\",\"content\":\"https://bnextmedia.s3.hicloud.net.tw/image/album/2019-12/img-1577419333-97920.jpg\",\"from\":\"jujuebot\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":680,"wires":[["5bd80a72.b4cfbc"]]},{"id":"450b4476.1d6a64","type":"comment","z":"5ec66436.7b42d4","name":"console topic","info":"","x":170,"y":940,"wires":[]},{"id":"82fb33a8.cff45","type":"inject","z":"5ec66436.7b42d4","name":"json object message","topic":"","payload":"{\"type\":\"message\",\"content\":{\"obj\":\"json-obj\",\"name\":\"console-log\"}}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":980,"wires":[["81847ee.6b463"]]},{"id":"81847ee.6b463","type":"send","z":"5ec66436.7b42d4","DDN":">>comm","topic":"console://-1001400445332","name":"console log","x":490,"y":980,"wires":[["a30500c3.a2738"],["a30500c3.a2738"]]},{"id":"a30500c3.a2738","type":"debug","z":"5ec66436.7b42d4","name":"log msg","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":690,"y":980,"wires":[]},{"id":"a26cd121.a2138","type":"comment","z":"5ec66436.7b42d4","name":"","info":"onEvent  will be called by eiName, then you can process your reguest, and at the end ,the flow should connect to retEvent in order to return payload to caller。\nyou can open jujue.app to call the jujue.flow。","x":140,"y":1400,"wires":[]},{"id":"5dd36133.0e5ff8","type":"function","z":"5ec66436.7b42d4","name":"","func":"pos = msg.inctl.To.Topic.search(\":\")\nmsg.topic = msg.inctl.To.Topic.substring(0,pos);\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":1480,"wires":[["a2119aa8.91447"]]},{"id":"324b9819.20f3e","type":"split","z":"5ec66436.7b42d4","name":"","splt":",","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":440,"y":1760,"wires":[["35372dbc.c6c402"]]},{"id":"3b62beda.5e79e2","type":"debug","z":"5ec66436.7b42d4","name":"http msg","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1060,"y":1380,"wires":[]},{"id":"be88e85a.abec6","type":"exec","z":"bf33f6d1.6a6f88","command":"cd .. && python detect.py ","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"exec aibot","x":630,"y":520,"wires":[["141e584a.46dd68"],[],[]]},{"id":"141e584a.46dd68","type":"function","z":"bf33f6d1.6a6f88","name":"send msg","func":"var str = msg.payload.split(\"\\n\")\nvar obj = \"\";\nfor (let i = 0; i < str.length; i++) {\n    obj += \"\\n\" + str[i];\n}\nmsg.payload={\n    \"chat_id\":msg.data.chatid,\n    \"text\":\"DDN: \"+msg.inctl.From.DDN+\"\\ntopic: \"+msg.inctl.To.Topic+\"\\nmodel: \"+msg.data.model+\"\\nresult: \"+obj\n}\n//+\"\\npayload: \"+msg.data.img_url\nmsg.token = \"641293137:AAElcXvCTIPA7vHsTOiiallG9gt7PSfPRSo\";\nmsg.method = \"sendMessage\";\nmsg.url =`https://api.telegram.org/bot${msg.token}/${msg.method}`\nreturn msg;","outputs":1,"noerr":0,"x":780,"y":520,"wires":[["18ef055.1920f7b"]]},{"id":"18ef055.1920f7b","type":"http request","z":"bf33f6d1.6a6f88","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":1030,"y":580,"wires":[["730d3525.71da14"]]},{"id":"85bacd96.5c0488","type":"debug","z":"bf33f6d1.6a6f88","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1190,"y":260,"wires":[]},{"id":"a2f24a5.423c0b8","type":"inject","z":"bf33f6d1.6a6f88","name":"","topic":"","payload":"{\"catalog\":\"testapp\",\"idname\":\"testdata\"}","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":750,"y":240,"wires":[["98dd714b.ee5ca8"]]},{"id":"fc2c29b5.2e2208","type":"call","z":"bf33f6d1.6a6f88","name":"call","DDN":">>sys","topic":"xs://config","func":"set","x":910,"y":200,"wires":[["85bacd96.5c0488"],["85bacd96.5c0488"]]},{"id":"98dd714b.ee5ca8","type":"call","z":"bf33f6d1.6a6f88","name":"call","DDN":">>sys","topic":"xs://config","func":"get","x":910,"y":260,"wires":[["85bacd96.5c0488"],["85bacd96.5c0488"]]},{"id":"d6e3f74c.16a7d","type":"call","z":"bf33f6d1.6a6f88","name":"call","DDN":">>sys","topic":"xs://config","func":"get","x":1150,"y":1160,"wires":[["da43264.190d5d8"],[]]},{"id":"7a890b04.95d284","type":"function","z":"bf33f6d1.6a6f88","name":"get_xsOK","func":"var catalog = msg.data.catalog;\nvar idname = msg.data.payload;\nmsg.payload.catalog = catalog;\nmsg.payload.idname = idname;\nreturn msg;","outputs":1,"noerr":0,"x":940,"y":1200,"wires":[["d6e3f74c.16a7d"]]},{"id":"da43264.190d5d8","type":"function","z":"bf33f6d1.6a6f88","name":"get base64","func":"var base64 = msg.payload.base64;\nmsg.payload = base64;\nreturn msg;","outputs":1,"noerr":0,"x":1350,"y":1140,"wires":[[]]},{"id":"4fdd3b13.9bd0f4","type":"function","z":"bf33f6d1.6a6f88","name":"change and model","func":"var model = msg.data.model;\nvar method = msg.data.method;\nvar url = msg.data.img_url;\nvar path = msg.data.img_path;\nvar stream = msg.data.stream;\nvar stream_name = msg.data.stream_name;\nif (method === \"url\"){\n    msg.payload = \"--model_def config/\" + model + \".cfg --weights_path weights/\" + model + \".weights --image_url \" + url; \n    return [msg, null, null];\n}\nelse if (method === \"path\"){\n    msg.payload = \"--image_path \" + path + \" --model_def config/\" + model + \".cfg --weights_path weights/\" + model + \".weights\"; \n    return [msg, null, null];\n}\nelse if(method === \"stream\"){\n    msg.payload = \"--stream \" + stream + \" --stream_name \" + stream_name + \" --model_def config/\" + model + \".cfg --weights_path weights/\" + model + \".weights\"; \n    return [null, msg, null];\n}\nelse if(method === \"stop\"){\n    msg.payload = \"--stream_name \" + stream_name;\n    return [null, null, msg];\n}\n","outputs":3,"noerr":0,"x":490,"y":620,"wires":[["be88e85a.abec6"],["772d3d5b.ec6c3c","ce357734.70b07"],["71f8ac9d.dc1284"]]},{"id":"58cfd534.6a26cc","type":"onEvent","z":"bf33f6d1.6a6f88","event":"message","name":"onEvent","x":80,"y":640,"wires":[["ee51fe50.9328c"]]},{"id":"730d3525.71da14","type":"retEvent","z":"bf33f6d1.6a6f88","name":"retEvent","errorCode":0,"errorMsg":"OK","x":1280,"y":640,"wires":[]},{"id":"ba73eef8.36f88","type":"send","z":"bf33f6d1.6a6f88","DDN":">>py-ai","topic":"ml://aibot","name":"send","x":380,"y":440,"wires":[["28f9b682.308752"],["28f9b682.308752"]]},{"id":"ba17043a.00a35","type":"inject","z":"bf33f6d1.6a6f88","name":"stream","topic":"","payload":"{\"chatid\":\"-347773088\",\"img_path\":\"\",\"method\":\"stream\",\"stream\":\"rtsp://7shop.ypcloud.com:6120/rtsph264480p\",\"stream_name\":\"7shop\",\"img_url\":\"\",\"model\":\"yolov3-tiny\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":500,"wires":[["ba73eef8.36f88"]]},{"id":"71f8ac9d.dc1284","type":"exec","z":"bf33f6d1.6a6f88","command":"cd .. && python stop.py ","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"stop stream","x":630,"y":740,"wires":[["5c37017e.1e4b98"],[],[]]},{"id":"772d3d5b.ec6c3c","type":"exec","z":"bf33f6d1.6a6f88","command":"cd .. && python detect.py ","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"exec stream","x":750,"y":640,"wires":[["4273764a.311988"],[],[]]},{"id":"2a15714a.5a1986","type":"inject","z":"bf33f6d1.6a6f88","name":"stop stream","topic":"","payload":"{\"chatid\":\"-347773088\",\"img_path\":\"\",\"method\":\"stop\",\"stream\":\"\",\"stream_name\":\"7shop\",\"img_url\":\"\",\"model\":\"yolov3-tiny\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":560,"wires":[["ba73eef8.36f88"]]},{"id":"4273764a.311988","type":"debug","z":"bf33f6d1.6a6f88","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","x":1100,"y":940,"wires":[]},{"id":"ce357734.70b07","type":"function","z":"bf33f6d1.6a6f88","name":"send msg","func":"var stream_name = msg.data.stream_name;\nmsg.payload={\n    \"chat_id\":msg.data.chatid,\n    \"text\":\"DDN: \"+msg.inctl.From.DDN+\"\\ntopic: \"+msg.inctl.To.Topic+\"\\nmodel: \"+msg.data.model+\"\\nRun a stream from \"+stream_name\n}\n//+\"\\npayload: \"+msg.data.img_url\nmsg.token = \"641293137:AAElcXvCTIPA7vHsTOiiallG9gt7PSfPRSo\";\nmsg.method = \"sendMessage\";\nmsg.url =`https://api.telegram.org/bot${msg.token}/${msg.method}`\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":580,"wires":[["730d3525.71da14"]]},{"id":"5c37017e.1e4b98","type":"function","z":"bf33f6d1.6a6f88","name":"send msg","func":"var stream_name = msg.data.stream_name;\nmsg.payload={\n    \"chat_id\":msg.data.chatid,\n    \"text\":\"DDN: \"+msg.inctl.From.DDN+\"\\ntopic: \"+msg.inctl.To.Topic+\"\\nmodel: \"+msg.data.model+\"\\nStop a stream from \"+stream_name\n}\n//+\"\\npayload: \"+msg.data.img_url\nmsg.token = \"641293137:AAElcXvCTIPA7vHsTOiiallG9gt7PSfPRSo\";\nmsg.method = \"sendMessage\";\nmsg.url =`https://api.telegram.org/bot${msg.token}/${msg.method}`\nreturn msg;","outputs":1,"noerr":0,"x":880,"y":740,"wires":[["730d3525.71da14"]]},{"id":"a7b1abad.f4e248","type":"debug","z":"bf33f6d1.6a6f88","name":"send msg","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":800,"y":1000,"wires":[]},{"id":"54c38093.94ea38","type":"inject","z":"bf33f6d1.6a6f88","name":"whois","topic":"","payload":"{\"content\":\"hello\",\"type\":\"message\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":70,"y":1020,"wires":[["763df30.79ed78c"]]},{"id":"763df30.79ed78c","type":"send","z":"bf33f6d1.6a6f88","DDN":">>comm","topic":"tg://-1001400445332","name":"send","x":250,"y":1020,"wires":[["7d9f70cf.55c3f"],["a7b1abad.f4e248"]]},{"id":"7d9f70cf.55c3f","type":"function","z":"bf33f6d1.6a6f88","name":"get myinfo","func":"p=msg.payload[0];\nmsg.payload = {\n    \"content\":\"DDN:\"+p.IN.From.DDN+\",Name:\"+p.IN.From.Name,\n    \"type\":\"message\",\n    \"from\":\"pinponboybot\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":1000,"wires":[["cbb5d81.10f18a8"]]},{"id":"cbb5d81.10f18a8","type":"send","z":"bf33f6d1.6a6f88","DDN":">>comm","topic":"tg://-1001400445332","name":"send","x":590,"y":1000,"wires":[["a7b1abad.f4e248"],["a7b1abad.f4e248"]]},{"id":"36a667d5.c55ab8","type":"comment","z":"bf33f6d1.6a6f88","name":"whois : run whois, to get your info, but add ioc://console to your contact first","info":"run whois, to get your info\nit will send your infromation to telegram ioc://console channel, please add ioc://console to your contact first","x":260,"y":960,"wires":[]}]